.dialog-section{
    background-color: var(--dialogSectionBackground);
    color: var(--text);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}


.dialog-section-content{
    
    display: flex;
    height: 20px;
    justify-content: space-between;
}

.dialog-section .dialog-section-content .fill{
    flex:1;
    padding-left: 12px;
}

.dialog-section .logo-holder{
    display: block;
    width: 20px;
    height: 20px;
    
}

.dialog-section-title{
    display: none;
}



/* .dialog-section-content .dialog-section-content-value{
} */

.dialog-section-content .dialog-section-content-value .dialog-section-arrow{
    
    position: relative;
    
    display: none;
    
}

.dialog-section-content .dialog-section-content-value .dialog-section-arrow-active{
    display: initial;
}

.dialog-section-content .dialog-section-content-value .dialog-section-arrow svg{
    transform: rotate(270deg);
}

