/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.presentation_wrapper{
    
    width: 100%;
    overflow: hidden;
    position: relative;
}

.presentation_wrapper .graphic{
    content: "";
    height: 287px;
    width: 100%;
    min-width: 1371px;
    position: absolute;
    background-image: url(../../assets/Abstract_Lines/Abstract_Line_3.svg);
    
    background-size: 1371px 287px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: .2;
    -webkit-filter: blur(2px);
            filter: blur(2px);
}

.presentation_wrapper .presentation{
    margin: auto;
    display: block;
    max-width: var(--max-width);
    position: relative;
    padding-top: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    overflow: hidden;
}

.presentation_wrapper::after{
    content: "";
    position: absolute;
    background-image: url(../../assets/Abstract_Lines/Abstract_Line_1.svg);
    background-size: 1480px 480px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 480px;
    min-width: 1480px;
    position: absolute;
    bottom: -40px;
    left: -26px;
    opacity: .5;
}

.presentation_wrapper::before{
    content: "";
    position: absolute;
    background-image: url(../../assets/Abstract_Lines/Abstract_Line_2.svg);
    background-size: 564px 338px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 338px;
    width: 564px;
    position: absolute;
    left: 100px;
    top: -50px;
    opacity: .5;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.presentation_wrapper .cube1{
    position: absolute;
    background-image: url(../../assets/Cubes/cube1.svg);
    background-size: 6.4rem 5.64rem;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 6.4rem;
    height: 5.64rem;
    position: absolute;
    left:calc(100% - 3.2rem);
    bottom: 17rem;
    opacity: .6;
}

.presentation_wrapper .presentation .cube2{
    position: absolute;
    background-image: url(../../assets/Cubes/cube1.svg);
    background-size: 74px 85px;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 74px;
    height: 85px;
    position: absolute;
    left: 0;
    top: -50px;
    opacity: .4;
    -webkit-transition: left .2s ease-in-out;
    -o-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
}


.presentation_wrapper .presentation .content{
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

@media screen and (min-width: 385px) {
    .presentation_wrapper .presentation .content{
        padding-left: .8rem;
        padding-right: .8rem;
    }
    .presentation_wrapper .presentation .content .chains .chain_img{
        width: 24.29rem;
        height: 30rem;
    }
}

@media screen and (min-width: 500px){
    .presentation_wrapper::before{
        left: initial;
        right: -100px;
    }
}

@media screen and (min-width: 765px){
    .presentation_wrapper .presentation .cube2{
        left: 25%;
        -webkit-transform: translateX(-25%);
            -ms-transform: translateX(-25%);
                transform: translateX(-25%);
        
    }

    .presentation_wrapper .presentation .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .presentation_wrapper .cube1{
        bottom: 0;
    }
}

@media screen and (min-width: 850px){
    .presentation_wrapper .presentation .cube2{
        left: 40%;
        -webkit-transform: translateX(-40%);
            -ms-transform: translateX(-40%);
                transform: translateX(-40%);
    }

    
}

@media screen and (min-width: 925px){
    .presentation_wrapper .presentation .cube2{
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

