
.button-primary{
    border: 1px solid  #646464;
    border-radius: 5px;
    min-height: 40px;
    min-width: 100px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}

.button-primary:hover{
    -webkit-box-shadow: 0px 0px 20px -7px rgba(100,100,100,0.75); 
    box-shadow: 0px 0px 20px -7px rgba(100,100,100,0.75);

}

.button-primary:active{
    background-color: rgba(100,100,100,0.75);
    color: #fff;
    border: 1px solid  #fff;
}

.button-address{
    border: 1px solid  #646464;
    border-radius: 5px;
    min-height: 40px;
    min-width: 100px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}

.button-address span{
    padding-right: 5px;
    padding-left: 5px;
}
