.dark-switch{
    position: relative;
}

.dark-switch label span{
    position: absolute;
    border: 1px solid #f3f3f3;
    width: 60px;
    height: 25px;
    top:50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 25px;
    
    transition: background-color 0.2s ease-in-out 0.2s;
}

.dark-switch label span::after{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f3f3f3;
    top:50%;
    left:1px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.dark-switch-on label span{
    background-color: green;
}

.dark-switch-on label span::after{
    right: 1px;
}