.switch-button{
    height: 15px;
    width: 48px;
    border-radius: 15px;
    border: 1px solid #069BEF;
    position: relative;
    cursor: pointer;
    cursor: pointer;
}

.switch-button::before{
    content: "";
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    -webkit-box-shadow: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%); 
    box-shadow: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);
    background: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
}

.switch-button-checked{
    background: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);
}

.switch-button-checked::before{
    border: 1.5px solid #069BEF;
    background: var(--background-color);
    left: initial;
    right: -6px;
}

.switch-button-disabled{
    opacity: .6;
    cursor: default;
}
