.textbox{
    width: 100%;
    position: relative;
}

.textbox .validation{
    color: red;
    font-size: 0.8rem;    
}

.textbox div{
    border: 1px solid #646464;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.textbox div .placeholder{
    position: absolute;
    left: 15px;
    color: rgba(0,0,0,.5);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.textbox div input {
    outline: none;
    width: 100%;
    font-size: 1.2rem;
    padding:5px;
    border: none;
    color: #646464;
}


.textbox div input:focus + .placeholder{
    transform: scale(0.7) translateY(-75%) translateX(-40%);
    top:0;
    background-color: #fff;
    padding: 5px;
    color:rgb(66, 122, 241);
}

.textbox div input:valid + .placeholder{
    transform: scale(0.7) translateY(-75%) translateX(-40%);
    top:0;
    
    background-color: #fff;
    padding: 5px;
}

.textbox .textbox-button .input-button{
    position: absolute;
    width:50px;
    padding: 0 5px;
    line-height: 43px;
    text-align: center;
    right: 0;
    font-size: 0.9rem;
    cursor: pointer;
    top:50%;
    transform: translateY(-50%);
    columns: #646466;
    user-select: none;
}

.textbox .textbox-button .input-button:hover{
    color: rgb(66, 122, 241);
}

.textbox .textbox-button input{
    padding-right: 50px;
}

