.wallets {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: space-around;
    gap: 1.2rem;
}

.wallets .wallet-item{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
    padding-left: 4rem;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 200ms ease-in;
}

.wallets .wallet-item .wallet-item-icon img{
    width: 30px;
    height: 30px;
}

.wallets .wallet-item:hover{
    background-color:  var(--wallet-hover);
    
  }
  
  .wallets .wallet-item:active{
    background-color: var(--wallet-hover);
    
  }