.address-button {
    border: 1px solid var(--buttonColor);
    color: var(--text);
    margin: 0 5px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    min-width: 120px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 0px;
    transition: background-color 0.2s ease-out;
    font-weight: bold;
    position: relative;
}

.address-button:hover{
    background-color: var(--buttonColor);
    color:var(--buttonHover2);
}

.address-button span{
    
    padding: 0px 5px;
    
}

.address-button .address{
    
    padding: 0 30px 0 10px;
    position: relative;
}

.address-button .address span{
    position:absolute;
    display: block;
    width: 10px;
    height: 30px;
    top:1px;
    right: 8px;
    font-size: 0.5rem;
    color: var(--buttonColor);
}