.general-details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    grid-gap: 1rem;
}

.title{
    line-height: 20px;
    padding: 5px;
    text-align: center;
}

.market-overview{
    position: relative;
}

.market-overview .content{
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: auto;
}

.market-overview div div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
}

.balance-overview-balance{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: calc(100% - 30px);
}

.netapy-overview{
    position: relative;
    text-align: center;
}

.netapy-overview .content{
    text-align: left;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    font-size: 1rem;
    max-width: 250px;
    margin: auto;
}

.netapy-overview .content div:first-child{
    padding-left: 13px;
}

.borrow-balance-overview{
    position: relative;
    text-align: center;
}

.borrow-limit-overview{
    position: relative;
    text-align: center;
}

@media (max-width: 990px) {
    
}