.markets{
    background-color: var(--sectionBackground);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.market-container{
    margin: 5px;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    color: var(--text);
    /* text-shadow: var(--textShadow); */
    min-height: 200px;
   
}

.market-container-title{
    height: 2rem;
    line-height: 2rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: var(--containerTitleShadow);
    border-radius: 5px 5px 0 0;
    background-color: var(--navBackground);
}

.market-content{
    display: block;
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
}

.market-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    white-space:nowrap;
    overflow: hidden;
}

.market-table .market-table-header tr{
    height: 60px;
    box-shadow: var(--tableHeaderShadow);
}

.market-table .market-table-content tr{
    cursor: pointer;
    box-shadow: var(--tableRowShadow);
}

.market-table tr, .market-table .market-table-header th, .market-table .market-table-content td{
    text-align: left;
    padding: 10px;
    font-size: 1rem;
    
}

.market-content .circle{
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    border: 2px solid var(--buttonHover);
    background-color:  var(--buttonHover);
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.market-content .circle-o{
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    border: 2px solid var(--buttonHover);
    display: inline-block;
    margin-right: 5px;
}

.market-content .positive{
    color: var(--textPositive);
}

.market-table .asset{  
    height: 30px;
    display: flex;
    align-items: center;
}

.market-table .asset span{
    padding-left: 1rem;
}

.market-table .asset .asset-logo img{
    width: 30px;
    height: 30px;
}

.spinner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disable-row{
    opacity: 0.5;
    cursor:not-allowed;
}

.disable-row td{
    cursor:not-allowed;
}


@media (max-width: 900px) {
    .markets{
        grid-template-columns: repeat(auto-fit, minmax(250px, 900px));
    }
}

.rounded-circle{
    border-radius: 50%;
}