.network-button {
    border: 1px solid var(--buttonColor);
    color: var(--text);
    margin: 0 5px;
    display: flex;
    height: 40px;
    min-width: 140px;
    max-width: 210px;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 0px;
    transition: background-color 0.2s ease-out;
    position: relative;
    align-items: center;
    justify-content: center;
}

.network-button:hover {
    background-color: var(--buttonColor);
    color: var(--buttonHover2);
}

.network-button .network-button-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.network-button .network-button-content .network-name {
    padding: 0 8px;
}

.network-button .network-button-content .arrow {
    font-size: 0.7rem;
}

.network-button .network-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--text);
}
