.sideMenu .close{
    border: 1px solid rgba(243, 243, 243, 0);
    display: block;
    width:30px;
    height: 30px;
    float: right;
    position: absolute;
    padding: 0;
    margin: 0;
    transition: transform 0.2s ease-in-out,
                border-color 0.2s ease-in-out 0.1s,
                background-color 0.2s ease-out;                
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    top:15px;
    right: 10px;
}

.sideMenu .close:hover{
    border-color: rgba(243, 243, 243, 1);
    transform: rotate(90deg);
    background-color: #444;
}

.sideMenu .close::before{
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    background-color: #f3f3f3f3;
    position: absolute;
    top:50%;
    left: 49%;
    transform: translate(-50%, -50%)  rotate(45deg);
    transition: all 0.2s ease-out;
}

.sideMenu .close::after{
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    background-color: #f3f3f3f3;
    position: absolute;
    top:50%;
    left: 49%;
    transform: translate(-50%, -50%)  rotate(-45deg);
    transition: all 0.2s ease-out;
}

.sideMenu .close:active{
    background-color: #f3f3f3f3;
}

.sideMenu .close:active::after, .sideMenu .close:active::before{
    background-color: #444;
}

.account-settings-item .account-settings-item-label{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.account-settings-item .account-settings-item-button{
    border: 1px solid #BBB;
    color: #BBB;
    font-weight: bold;
    display: block;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    padding: 5px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-out;
}

.account-settings-item .account-settings-item-button:hover{
    background-color: #444;
    color: #EEE;
    border: 1px solid #EEE;
}

.account-settings-item .account-settings-item-button:active{
    border: 1px solid #EEE;
    color: #444;
    background-color: #EEE;
}

.account-settings hr {
    margin: 20px 0;
}

.account-settings .account-settings-item hr {
    margin: 0;
    margin-bottom: 20px;
}

