.navbar-button{
    width: 40px;
    height: 27px;
    position: relative;
    cursor: pointer;
    transition: all .2s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.navbar-button .bar{
    background-color: var(--hamburger-menu);
    width: 36px;
    height: 5px;
    border: 1px solid var(--hamburger-menu);
    border-radius: 3px;
    display: block;
    transition: all .2s ease-out;
}

.navbar-button-clicked .bar1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.navbar-button-clicked .bar2{
    opacity: 0;
}

.navbar-button-clicked .bar3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

