.dialog{
    display: none;
    position: fixed;
    top:0vh;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 5000;
    left:0;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.open-dialog{
    display: block;
}

.supply-box{
    min-width: 200px;
    max-width: 400px;
    height: 95%;
    max-height: 870px;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(252,252,252,0.5); 
    box-shadow: 0px 0px 10px 4px rgba(252,252,252,0.5);
    border-radius: 10px;
    padding:1rem;
    position: relative;
    margin: auto;
    top:50%;
    transform: translateY(-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.supply-box .dialog-close  {
    border: 1px solid #646464;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(252,252,252,0.5); 
    box-shadow: 0px 0px 10px 4px rgba(252,252,252,0.5);
    background-color: white;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 10px;
    color: #646464;
}

.supply-box .dialog-close::after{
    content: "\d7";
    font-size: 1.5rem;
    columns: #646464;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    
}

.supply-box .dialog-close:hover{
    -webkit-box-shadow: 0px 0px 20px -7px rgba(100,100,100,0.75); 
    box-shadow: 0px 0px 20px -7px rgba(100,100,100,0.75);
}

.supply-box .dialog-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 40px;
    color: #333333;
    font-size:1.3rem;
}