.section{
    background-color: var(--sectionBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.secondary-section{
    margin-top: 20px;
}

.section .section-content{
    
    display: block;
     width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}