.footer {
    padding: 44px 0px 24px 0px;
    background-color: var(--boxBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content-inc {
    max-width: 1200px;
    width: 100%;
    text-indent: 2rem;
    color: var(--grayText);
    font-size: 12px;
}

.footer-logo {
    padding: 0 2rem;
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-link-item {
    margin-left: 30px;
    text-decoration: none;
    color: var(--secondaryText);
}

.footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-image {
    margin-right: 20px;
    width: 20px;
}

@media (max-width: 615px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-left {
        flex-direction: column;
    }
    .footer-right {
        margin-top: 50px;
        justify-content: center;
    }
    .footer-content-inc {
        margin-top: 100px;
        text-align: center;
        text-indent: 0px;
    }
}