.snackbar{
    min-width: 250px;
    min-height: 0px;
    height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #646464;
    color: white;
    position: fixed;
    bottom:0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    transition: height 0.2s ease-in-out;
    z-index: 9999;
}

.snackbar-open{
    min-height: 40px;
    height: initial;
    padding: 10px;

    bottom: 10px;
}