.App {
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
  height: 100%;
  position: relative;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.wrapper{
  flex: 1;
}

.Toastify__toast-body{
  white-space: pre-line;
}