@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body{
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  overflow: auto;
}

.nav{
  z-index: 2;
  position: static;
}

.dash{
  z-index: 1;
  position: static;
}

@media (max-width: 500px){
  html{
    font-size: 14px;
  }
}