@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap');

*, *::after, *::before{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root{
  --max-width: 100%;
  font-size: 10px;
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

html{
  scrollbar-color: #333 #bebebe;
  scrollbar-width: thin;
}

.dark{
  --background-color: rgba(28, 32, 38, 1);
  --navbar-background: #222932;
  --switch-theme-border: rgba(9, 166, 227, 1);
  --switch-theme-background: transparent;
  --hamburger-menu: #fff;

  --modal-layout: rgba(19, 19, 19, .85);
  --modal-background: linear-gradient(#222932, #222932);
  --modal-line: linear-gradient(180deg, #047ED1 0%, #3DD8FF 48.56%, #047ED1 100%);
  --modal-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
  --modal-border: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);

  --text-color: #fff;
  --text-color2: #fff;
  --button-border: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);
  --button-background: linear-gradient(#222932, #222932);
  --button-hover-background: linear-gradient(#222932, #222932);
  --button-hover-border: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);

  --general-details-seperator: radial-gradient(100% 8999999.9% at 0% 0%, #047ED1 0%, #3DD8FF 48.56%, #047ED1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  --tab-active: rgba(56, 66, 80, 1);

  --textbox-border: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%),  linear-gradient(0deg, #193142, #193142);
  --textbox-background: linear-gradient(#193142, #193142);
  --textbox-color: #b5b5b5;
  
  --link-color: #09a6e3;
  --border-line: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);
  --border-background: linear-gradient(#1c2026, #1c2026);
  --markets-background: linear-gradient(#1c2026, #1c2026);
  --markets-title-color: linear-gradient(#b5b5b5, #b5b5b5);
  --markets-color: #b5b5b5;

  --slider-background: #193142;
  --range-background: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);
  --range-thumb-background: linear-gradient(#193142, #193142);
  --range-thumb-border: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);
  --range-thumb-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  
  --wallet-hover: #384250;
  --logo-background: #fff;
  --spinner-color: #00ceff; 
  --moon: #fff;
  --sun: #2c4965;

  --hundred-gradient-1: linear-gradient(180deg, #00CEFF 29.09%, #069BEF 70%);
  --hundred-gradient-2: linear-gradient(180deg, #00CEFF 29.09%, #069BEF 70%);
  --hundred-gradient-3: linear-gradient(180deg, #00CEFF 29.09%, #069BEF 70%);

  --stop-color-1: #00ceff;
  --stop-color-2: #02c0fb;
  --stop-color-3: #069df0;
  --stop-color-4: #069bef;
  --stop-color-5: #09a6e3;
  --stop-color-6: #015cb1;
  --stop-color-7: #00ceff;
  --stop-color-8: #02c1fb;
  --stop-color-9: #069ef0;
  --stop-color-10: #069bef;

  --hundred-logo-text: #00ceff;

  color: #fff;
  --text-gray: #b5b5b5;
  --logo-background: #ececec;

}

.light{
  --background-color: #FFFFFF;
  --navbar-background: #09A6E3;
  --switch-theme-border: rgba(9, 166, 227, 1);
  --switch-theme-background: #fff;
  --hamburger-menu: #fff;

  --modal-layout: rgba(19, 19, 19, .85);
  --modal-background: linear-gradient(#fff, #fff);
  --modal-border: linear-gradient(180deg, #09A6E3 0%, #015CB1 100%);  
  
  --modal-line: linear-gradient(180deg, #047ED1 0%, #3DD8FF 48.56%, #047ED1 100%);
  --modal-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);

  --text-color: #222932;
  --text-color2: #fff;
  --button-border: linear-gradient(180deg, #fff 0%, #fff 100%);
  --button-background: linear-gradient(#09A6E3, #09A6E3);
  --button-hover-background: linear-gradient(#EBF8FF, #EBF8FF);
  --button-hover-border: linear-gradient(#09A6E3, #09A6E3);

  --general-details-seperator: radial-gradient(#FFFFFF 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  --tab-active: rgba(56, 66, 80, .2);

  --textbox-border: linear-gradient(180deg, #00CEFF 0%, #015CB1 100%);
  --textbox-background: linear-gradient(#EBF8FF, #EBF8FF);
  --textbox-color: #09A6E3;

  --link-color: #09a6e3;
  --border-line: linear-gradient(180deg, #00CEFF 0%, #015CB1 100%);
  --border-background: linear-gradient(180deg, #09A6E3 75.63%, #09A6E3 170.31%);
  --markets-background: linear-gradient(#EBF8FF, #EBF8FF);
  --markets-title-color: linear-gradient(#09A6E3, #09A6E3);
  --markets-color: rgba(34, 41, 50, 1);

  
  --slider-background: #EBF8FF;
  --range-background: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);
  --range-thumb-background: linear-gradient(#EBF8FF, #EBF8FF);
  --range-thumb-border: linear-gradient(180deg, #00CEFF 0%, #069BEF 100%);
  --range-thumb-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
  
  --wallet-hover: #09a6e3;
  
  --logo-background: #fff;
  --spinner-color: #00ceff; 
  --moon: #bedff5;
  --sun: #09A6E3;

  --hundred-gradient-1: linear-gradient(180deg, #fff 29.09%, #fff 70%);
  --hundred-gradient-2: linear-gradient(180deg, #09A6E3 42.94%, #069BEF 57.74%);
  --hundred-gradient-3: linear-gradient(180deg, #09A6E3 42.94%, #069CEF 57.74%);

  --stop-color-1: #fff;
  --stop-color-2: #fff;
  --stop-color-3: #fff;
  --stop-color-4: #fff;
  --stop-color-5: #fff;
  --stop-color-6: #fff;
  --stop-color-7: #fff;
  --stop-color-8: #fff;
  --stop-color-9: #fff;
  --stop-color-10:#fff;
  --stop-color-11: #fff;
  --stop-color-12: #fff;
  --hundred-logo-text: #fff;

  color: #fff;
  --text-gray: #b5b5b5;

  --logo-background: #fff;

}

.line{
  display: block;
  width: 100%;
  height: 1px;
  background: -o-radial-gradient(0% 0%, 100% 90%, #047ED1 0%, #3DD8FF 48.56%, #047ED1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background: radial-gradient(100% 90% at 0% 0%, #047ED1 0%, #3DD8FF 48.56%, #047ED1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

h1{
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.05em;
  background: var(--hundred-gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}

h2{
  font-style: normal;
  font-weight: 900;
  font-size: 1.8px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  background: var(--hundred-gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}

h3{
  font-style: normal;
  font-weight: 500;
  font-size: 1.28rem;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.035em;

  color: var(--text-color2);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (min-width: 260px){
  :root{
    font-size: 12px;
  }
}

@media only screen and (min-width: 385px){
  :root{
    font-size: 14px;
  }

  h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 2rem;
  }

  p{
    font-size: 1.2rem;
  }

  .button{
    font-size: 1.2rem;
  }
}

.seperator{
  height: 1px;
  background: var(--modal-line);
  margin: .5rem 0;
}

@media only screen and (min-width: 720px){
  :root{
    --max-width: 1340px;
  }
}